# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Lost_Earth.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\user\OneDrive\DOCUME~1-DESKTOP-AAHU1QB-9585\GitHub\Lost_Earth\.idea\.idea.Lost_Earth\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
